@media screen and (max-width: 930px) {
  .about-container {
    background-color: rgb(250, 249, 247);
    flex-wrap: wrap;
  }

  .about {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(250, 249, 247);
    text-align: center;
  }

  .text-container {
    width: 85vw;
  }

  .text-container p {
    margin: 1rem 0;
  }

  .about img {
    width: 70vw;
    margin: 1.5rem 0;
  }

  .about-container .border-page {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 931px) and (max-width: 1920px) {
  .about-container {
    flex-wrap: wrap;
  }

  .about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75vw;
    margin: 4rem auto;
  }

  .about .text-container {
    width: 40%;
    display: flex;
    margin: 4rem auto;
    flex-direction: column;
  }

  .text-container p, h3 {
    text-align: start;
    margin: 1rem 0;
  }

  .about img {
    width: 45%;
    margin: 1.5rem 0;
  }

  .about-container .border-page {
    margin: 0 auto;
  }
}

.about-container {
  flex-wrap: wrap;
}

/* .about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 75vw;
  margin: 4rem auto;
}

.about .text-container {
  width: 40%;
  display: flex;
  margin: 4rem auto;
  flex-direction: column;
}

.text-container p, h3 {
  text-align: start;
  margin: 1rem 0;
}

.about img {
  width: 45%;
  margin: 1.5rem 0;
}

.about-container .border-page {
  margin: 0 auto;
} */
