header {
  background-image: url('../images/header-background.png'), linear-gradient(to top, #c86dd7, #bb66d3, #ae5ecf, #a058cc, #9251c8, #894ac4, #7f44c1, #753dbd, #6e34b9, #672ab5, #601fb0, #5912ac);
  height: 76vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 8.5rem;
}

.title-container {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  width: 30%;
}

.main-title {
  font-size: 3rem;
  margin: 1rem 0;
  font-weight: 500;
}

.subtitle {
  margin: 1rem 0;
  font-size: 1.5rem;
}

.player {
  font-size: 1.1rem;
  display: flex;
  align-self: flex-start;
  margin: 1rem 0;
  align-items: center;
}

.player p {
  padding: 0.75rem;
}
