.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar img {
  height: 10vh;
}

@media screen and (max-width: 640px) {
  .navlinks {
    display: none;
  }

  .button-container button:last-child {
    display: none;
  }
}
