@media screen and (max-width: 640px) {
  .hero {
    background-image: url('../images/hero-mobile.png'), linear-gradient(to top, #c86dd7, #bb66d3, #ae5ecf, #a058cc, #9251c8, #894ac4, #7f44c1, #753dbd, #6e34b9, #672ab5, #601fb0, #5912ac);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: aliceblue;
  }

  .card-container {
    display: none;
  }

  .title-container {
    margin: 2rem auto;
    width: 85vw;
  }

  .main-title {
    margin: 2rem auto;
  }

  .player {
    display: flex;
    justify-content: flex-start;
    margin: 4rem auto;
  }

  .player p {
    margin: 0 7px;
    align-self: center;
  }
}

@media screen and (min-width: 641px) and (max-width: 930px) {
  .hero {
    background-image: url('../images/hero-desktop.png'), linear-gradient(to top, #c86dd7, #bb66d3, #ae5ecf, #a058cc, #9251c8, #894ac4, #7f44c1, #753dbd, #6e34b9, #672ab5, #601fb0, #5912ac);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: start;
    width: 100%;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    color: aliceblue;
  }

  .card-container {
    display: none;
  }

  .title-container {
    margin: 2rem auto;
    width: 80vw;
  }

  .main-title {
    margin: 2rem auto;
  }

  .player {
    display: flex;
    margin: 4rem auto;
  }

  .player p {
    margin: 0 7px;
    align-self: center;
  }
}
