@media screen and (max-width: 640px) {
  .newsletter {
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 249, 247);
    align-items: center;
  }

  .newsletter .text-container {
    margin-top: 2rem;
  }

  .form-container input {
    display: flex;
    padding: 0.7rem;
    margin: 0 0.5rem;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 0.2rem;
    width: 85vw;
    margin: 0.5rem;
  }

  .newsletter button {
    margin-bottom: 2rem;
    width: 85vw;
  }
}
