@media screen and (max-width: 640px) {
  .payment-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(250, 249, 247);
    justify-content: space-around;
    text-align: center;
  }

  .payment-container .text-container {
    width: 84vw;
  }

  .payment-container img {
    margin: 2rem 0;
    width: 80vw;
  }
}

@media screen and (min-width: 641px) and (max-width: 930px) {
  .payment-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(250, 249, 247);
    justify-content: space-around;
    text-align: center;
  }

  .payment-container .text-container {
    width: 84vw;
  }

  .payment-container img {
    margin: 2rem 0;
    width: 65vw;
  }
}

@media screen and (min-width: 931px) and (max-width: 1920px) {
  .payment-container {
    display: flex;
    flex-wrap: wrap;
  }

  .payment {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 4rem auto;
    width: 75vw;
  }

  .payment .text-container {
    width: 40%;
    display: flex;
    flex-direction: column;
  }

  .payment img {
    width: 456px;
    height: 336px;
  }

  .payment-container .border-page {
    margin: 0 auto;
  }
}

/* .payment-container {
  display: flex;
  flex-wrap: wrap;
}

.payment {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 4rem auto;
  width: 75vw;
}

.payment .text-container {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.payment img {
  width: 456px;
  height: 336px;
}

.payment-container .border-page {
  margin: 0 auto;
} */
