* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

p {
  line-height: 1.7;
  margin: 2rem 0;
}

u {
  text-decoration: underline;
  color: rgb(94, 32, 164);
  font-weight: 500;
}

button {
  padding: 0.75rem 1.5rem;
  background-color: rgb(0, 200, 140);
  border: none;
  border-radius: 0.4rem;
  color: aliceblue;
  cursor: pointer;
}